<%- content_for :head do %>
  <h1><%= current_view_title(@item) %></h1>
<%- end %>
<div id="tiles">
  <% @items %>
  <% for r in @items%>
    <%= render :partial => "items/tile", :locals => { :item => r } %>  
  <% end %>

</div>