<%- content_for :head do %>
  <h1><%= current_view_title(@item) %></h1>
<%- end %>
  <div id="tiles">
    <%= render :partial => "tile", :locals => { :item => @item } %>
  </div>
<% @item.children.each do |item| %>
  <%= render :partial => "tile", :locals => { :item => item } %>
<% end %>