<%- content_for :head do %>
  <h1><%= current_view_title(@item) %></h1>
<%- end %>

<%= render :partial => "tile", :locals => { :tile => @item } %>

<%= render :partial => "tile", :collection => @item.children %>