<%- content_for :head do %>
  <h1><%= current_view_title(@item) %></h1>
<%- end %>
  <div id="tiles">
    <% @item.children.each do |item| %>
      <%= render :partial => "tile", :locals => { :item => item } %>
    <% end %>
  </div>
