<% columns = 10 %>
<% grid_helper = new_grid_helper(@roots, columns) %>

<table id="tiles">

  <% for r in @roots%>
    <%= render :partial => "items/tile", :locals => { :item => r } %>  
  <% end %>
  
  <div class="clear"></div>
</table>