<div id="head" class="backbutton">
  <div class="headwrap">
    <div id="head-id">
        <%= yield :head %>
    </div>
    <div id="head-action">
      <!-- <a href="#" class="new_item jqModal">new item</a> -->
      <% if current_user %>
      <%= link_to "+ make", new_item_path(:parent_id => @item ? @item.id : nil), :class => "new_item jqModal" %>
      <%= link_to "logout", logout_url, :class => "exit" %>
      <% else %>
      <%= link_to "login", login_url, :class => "exit" %>
      <% end %>
      <!-- <a href="#" class="profile">profile</a> -->
    </div>
    <div class="clear"></div>
  </div>
</div>
