<div id="head" class="backbutton">
  <div id="head-id">
      <%= yield :head %>
  </div>
  <div id="head-action">
    <%= link_to "new item", new_item_path, :class => "new_item" %>
    <%= link_to "logout", logout_url, :class => "exit" %>
  </div>
  <div class="clear"></div>
</div>