<div class="span-24">
  <div id="head-id" class="span-10">
      <%= yield :head %>
  </div>
  <div id="head-action" class="span-8 last">
    <%= link_to "new item", new_item_path, :class => "new_item" %>
    <%= link_to "exit", logout_url, :class => "exit" %>
  </div>
</div>